
/*---------------------------- Home .js  css --------------------------*/

.filter{
    margin-top: 2%;
    margin-left: 1.7%;
   
}
.PeformanceIndicator{
    margin-top: 1%;
    margin-left: 1%;
}
.yellow-coverage-referral{
    margin-left: 1%;
    /* display: flex; */
    /* justify-content: space-evenly;  */
}